.user-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 24px;

  &__list-title {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__list {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  &__item {
    min-width: 200px;
    transition: transform var(--transition);

    &:hover {
      transform: scale(1.05);
    }
  }
}
