<section class="user-list">
  <h1 class="user-list__title">Search Github Users</h1>

  <app-users-search></app-users-search>

  <ng-container *ngIf="users$ | async as users">
    <h2 class="user-list__list-title">
      Search Results
      <mat-icon color="accent" [matTooltip]="'Max 30 Users'">info</mat-icon>
    </h2>

    <ul class="user-list__list" *ngIf="users.length; else noDataFound">
      <li
        *ngFor="let user of users; trackBy: userTrackBy; let i = index"
        class="user-list__item"
      >
        <a [routerLink]="['./', user.login]" queryParamsHandling="merge">
          <app-user-card
            [avatarUrl]="user.avatarUrl"
            [login]="user.login"
            [priority]="i < 5"
          ></app-user-card>
        </a>
      </li>
    </ul>

    <ng-template #noDataFound>
      <app-no-data-found></app-no-data-found>
    </ng-template>
  </ng-container>
</section>
