<mat-card>
  <h1 class="visually-hidden">User Details</h1>

  <mat-card-content class="user-details-info">
    <h2 class="visually-hidden user-details-info__title">
      {{ userDetails.name }} Avatar
    </h2>
    <app-user-card
      class="user-details-info__user-card"
      [avatarUrl]="userDetails.avatarUrl"
      [login]="userDetails.login"
      [description]="userDetails.bio"
      [priority]="true"
    ></app-user-card>

    <section class="user-details-info__main-info">
      <h2 class="truncated">{{ userDetails.name }}</h2>
      <ul class="user-details-info__statistic-list">
        <li
          *ngFor="let item of statisticsData"
          class="user-details-info__statistic-list-item"
        >
          <app-info-bar
            [info]="item.title + userDetails[item.field]"
            [style.--info-bar-bgr]="item.backgroundColor"
          ></app-info-bar>
        </li>
      </ul>

      <ul class="user-details-info__info-list">
        <li
          *ngFor="let item of userMainInfoData"
          class="user-details-info__info-list-item"
        >
          <span class="user-details-info__info-list-title">{{
            item.title
          }}</span>
          <ng-container *ngIf="userDetails[item.field]; else emptyValue">
            <ng-container [ngSwitch]="item.field">
              <span
                *ngSwitchCase="'createdAt'"
                class="user-details-info__info-list-value"
              >
                {{ userDetails.createdAt | date }}
              </span>
              <span *ngSwitchCase="'blog'" class="truncated">
                <ng-container
                  *ngTemplateOutlet="
                    linkRef;
                    context: { href: userDetails.blog }
                  "
                ></ng-container>
              </span>
              <span *ngSwitchCase="'htmlUrl'" class="truncated">
                <ng-container
                  *ngTemplateOutlet="
                    linkRef;
                    context: { href: userDetails.htmlUrl }
                  "
                ></ng-container>
              </span>

              <span *ngSwitchDefault class="user-details-info__info-list-value">
                {{ userDetails[item.field] }}
              </span>
            </ng-container>
          </ng-container>
        </li>
      </ul>
    </section>
  </mat-card-content>
</mat-card>

<ng-template #emptyValue>
  <app-info-bar [info]="'Not Available'"></app-info-bar>
</ng-template>

<ng-template #linkRef let-href="href">
  <a [href]="href" class="primary-color" target="”_blank”">
    {{ href }}
  </a>
</ng-template>
