@use 'mixins.scss' as mixin;

$user-card-width: 250px;

.user-details-info {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 24px;
  padding: 24px;

  @include mixin.respond-to('medium') {
    flex-direction: row;
  }

  &__user-card {
    width: $user-card-width;
    flex-shrink: 0;
    align-self: center;
  }

  &__main-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include mixin.respond-to('medium') {
      max-width: calc(100% - #{$user-card-width} - 24px);
    }
  }

  &__statistic-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;

    @include mixin.respond-to('small') {
      flex-direction: row;
    }
  }

  &__statistic-list-item {
    max-width: 100%;
  }

  &__info-list {
    border: var(--border-gray);
    border-radius: 4px;
  }

  &__info-list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    min-height: 50px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;

    &:not(:last-of-type) {
      border-bottom: var(--border-gray);
    }
  }

  &__info-list-title {
    flex-shrink: 0;
    font-weight: bold;
  }

  &__info-list-value {
    word-break: break-word;
  }
}
