@use 'mixins.scss' as mixin;

.user-followers {
  &__title {
    margin-bottom: 16px;
  }

  &__list {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);

    @include mixin.respond-to('small') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mixin.respond-to('medium') {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mixin.respond-to('large') {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__list-item {
    transition: transform var(--transition);

    &:hover {
      transform: scale(1.05);
    }
  }
}
