<section class="user-followers">
  <ul class="user-followers__list">
    <li
      *ngFor="let follower of visibleFollowers; trackBy: trackBy; let i = index"
      class="user-followers__list-item"
    >
      <a
        [routerLink]="['../', follower.login]"
        queryParamsHandling="merge"
        class="user-followers__list-item-link"
      >
        <app-user-card
          [avatarUrl]="follower.avatarUrl"
          [login]="follower.login"
          [size]="80"
          [priority]="i < maxCount"
        ></app-user-card>
      </a>
    </li>
  </ul>

  <button
    class="user-followers__show-all-btn"
    mat-raised-button
    color="primary"
    *ngIf="allFollowers !== visibleFollowers"
    (click)="showAllRepos()"
  >
    Show All Followers
  </button>
</section>
