.user-followers {
  display: flex;
  flex-direction: column;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  &__list-item {
    padding: 12px;
    transition: transform var(--transition);

    &:hover {
      transform: scale(1.05);
    }
  }

  &__show-all-btn {
    margin: 32px auto;
  }
}
