<section class="user-details">
  <app-user-details-info
    *ngIf="userDetails$ | async as userDetails"
    [userDetails]="userDetails"
  >
  </app-user-details-info>

  <ng-container *ngIf="userFollowers$ | async as followers">
    <app-user-followers
      *ngIf="followers.length"
      [followers]="followers"
    ></app-user-followers>
  </ng-container>

  <ng-container *ngIf="userRepos$ | async as repos">
    <app-user-repos *ngIf="repos.length" [repos]="repos"></app-user-repos>
  </ng-container>
</section>
