<header class="header">
  <mat-toolbar color="primary">
    <div class="header__content app-container">
      <a
        class="header__home-link"
        mat-icon-button
        [routerLink]="'/'"
        aria-label="Navigate to User List"
        queryParamsHandling="merge"
      >
        <mat-icon>home</mat-icon>
      </a>
      <mat-slide-toggle
        class="header__theme-slider"
        color="primary"
        [aria-label]="'Change Page Thene'"
        [checked]="isDarkMode$ | async"
        (click)="$event.preventDefault(); toggleTheme()"
      >
        <mat-icon>bedtime</mat-icon>
      </mat-slide-toggle>
    </div>
  </mat-toolbar>
</header>
